@use './partials/utilities' as *;
@use './partials/vars' as *;

@import 'bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: $bg_color;
}